@charset "UTF-8";

.highlight{
    background-color: red;
    color: white;
    font-size: 30px;
  }
  .headline{
    color: orange;
  }
  #where{
    font-size: 40px;
  }
  @media (max-width: 200px){
    h1{
     background-color: green;
  }}
  @media (min-width: 600px){
    h1{
     background-color: yellow;
  }}